# Virtual environment
wiki-bfs-workspace/

# Python bytecode
__pycache__/
*.py[cod]

# Pytest cache
.pytest_cache/

# Jupyter checkpoints
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Notebook output images
notebooks/*.png
*.png

# macOS
.DS_Store
.Rhistory
# R
.Rproj.user
.RData
.Rhistory

# Editor
.idea/
.vscode/

